h1 {
    width 500px;
    border: solid 10px #444444;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 46px;
  ;}
  h2 {
      width 500px;
      font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
      font-size: 36px;
    ;}
